<div class="catalog-main">
  <div class="new_game">
    <button mat-raised-button color="primary" (click)="openDialogNewGame()">New Game</button>
  </div>
  <table mat-table [dataSource]="listGames" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="years">
      <th mat-header-cell *matHeaderCellDef>Years</th>
      <td mat-cell *matCellDef="let element">{{numberofYears(element.releaseYear)}} Years</td>
    </ng-container>

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Completed</th>
      <td mat-cell *matCellDef="let element">{{element.completed}}</td>
    </ng-container>

    <ng-container matColumnDef="console">
      <th mat-header-cell *matHeaderCellDef>Console</th>
      <td mat-cell *matCellDef="let element">{{element.console}}</td>
    </ng-container>

    <ng-container matColumnDef="dateCompletion">
      <th mat-header-cell *matHeaderCellDef>Date Of Completion</th>
      <td mat-cell *matCellDef="let element">{{formatDate(element.dateCompletion)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matRowDef="let row; columns: displayedColumns;"
        mat-row
        (click)="openDialogDetails(row)"
    ></tr>
  </table>

</div>
